<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.ksDemo.omni</key>
		<string>dev_provision</string>
	</dict>
	<key>signingCertificate</key>
	<string>F6D80EFF4C1C7E2C00B2D7335B61B2D50F77CF84</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>SP537S8Q2J</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
